<form class="reg-form" [formGroup]="intervenantform">
    <h2 class="title">Exportateur/Expéditeur</h2>
    <div class="row">
        <div class="col-md-6">
            <label for="nome" >Nom</label>
            <input  type="text" class="form-control" formControlName="nome" id="nome">
            <div
                *ngIf="intervenantform.get('nome')?.invalid && intervenantform.get('nome')?.touched">
                <small
                *ngIf="intervenantform.get('nome')?.invalid && intervenantform.get('nome')?.touched"
                class="text-danger"  > *Leave type is required</small>
            </div>
        </div>

        <div class="col-md-6">
            <label for="adresse" >Adresse</label>
            <input  type="text" class="form-control" formControlName="adresse" id="adresse">
            <div
                *ngIf="intervenantform.get('adresse')?.invalid && intervenantform.get('adresse')?.touched">
                <small
                *ngIf="intervenantform.get('adresse')?.invalid && intervenantform.get('adresse')?.touched"
                class="text-danger"  > *Leave type is required</small>
            </div>
        </div>
    </div>
<h2 class="title">Destinataire</h2>
    <div class="row">
        <div class="col-md-6">
            <label for="numerocontribuable" >Numéro contribuable</label>
            <input  type="text" class="form-control" formControlName="numerocontribuable" id="numerocontribuable">
            <div
                *ngIf="intervenantform.get('numerocontribuable')?.invalid && intervenantform.get('numerocontribuable')?.touched">
                <small
                *ngIf="intervenantform.get('numerocontribuable')?.invalid && intervenantform.get('numerocontribuable')?.touched"
                class="text-danger"  > *Leave type is required</small>
            </div>
        </div>

        <div class="col-md-6">
            <label for="nomd" >Nom</label>
            <input  type="text" class="form-control" formControlName="nomd" id="nomd">
            <div
                *ngIf="intervenantform.get('nomd')?.invalid && intervenantform.get('nomd')?.touched">
                <small
                *ngIf="intervenantform.get('nomd')?.invalid && intervenantform.get('nomd')?.touched"
                class="text-danger"  > *Leave type is required</small>
            </div>
        </div>

        <div class="col-md-6">
            <label for="telephone" >Telephone</label>
            <input  type="text" class="form-control" formControlName="telephone" id="telephone">
            <div
                *ngIf="intervenantform.get('telephone')?.invalid && intervenantform.get('telephone')?.touched">
                <small
                *ngIf="intervenantform.get('telephone')?.invalid && intervenantform.get('telephone')?.touched"
                class="text-danger"  > *Leave type is required</small>
            </div>
        </div>

        <div class="col-md-6">
            <label for="email" >Email</label>
            <input  type="email" class="form-control" formControlName="email" id="email">
            <div
                *ngIf="intervenantform.get('email')?.invalid && intervenantform.get('email')?.touched">
                <small
                *ngIf="intervenantform.get('email')?.invalid && intervenantform.get('email')?.touched"
                class="text-danger"  > *Leave type is required</small>
            </div>
        </div>

        <div class="col-md-6">
            <label for="adressed" >Adresse</label>
            <input  type="text" class="form-control" formControlName="adressed" id="adressed">
            <div
                *ngIf="intervenantform.get('adressed')?.invalid && intervenantform.get('adressed')?.touched">
                <small
                *ngIf="intervenantform.get('adressed')?.invalid && intervenantform.get('adressed')?.touched"
                class="text-danger"  > *Leave type is required</small>
            </div>
        </div>
    </div>
    <button type="button" style="margin: 20px;" class="btn btn-primary" (click)="simpleAlert()">Enregistrer</button>

</form>
