<div style="margin: 2%;" class="card">
    <div class="card-header">
        <button  class="btn btn-outline-primary mb-2 me-2" (click)="openLg(content)" >Nouveau Connaisement</button>
    </div>
    <div class="card-body">

      <div class="e-table">
        <div class="table-responsive table-lg mt-3">
          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th class="max-width">Nature</th>
                <th class="sortable">Lieu Chargement</th>
                <th>Lieu Dechargement</th>
                <th>Poid Brut </th>
                <th>Volume</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let connaissement of connaissements">
                <td class="text-nowrap align-middle">{{connaissement.id}}</td>
                <td class="text-nowrap align-middle">{{connaissement.nature}}</td>
                <td class="text-nowrap align-middle">{{connaissement.lieuchargement}}</td>
                <td class="text-nowrap align-middle">{{connaissement.lieudechargement}}</td>
                <td class="text-nowrap align-middle">{{connaissement.poidbrut}}</td>
                <td class="text-nowrap align-middle">{{connaissement.volume}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
          
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
        <h2>Connaisement</h2>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form #Connaissementform="ngForm" class="reg-form" [formGroup]="connaissementform"  (ngSubmit)="addConnaissement()">
        <h2 class="title">Manifest</h2>
        <div class="row">
            <div class="col-md-6">
                <label for="type" >Type T/T</label>
                <input  type="text" class="form-control" formControlName="type" [(ngModel)]="connaissement.type" id="type" required>
                <div
                    *ngIf="connaissementform.get('type')?.invalid && connaissementform.get('type')?.touched">
                    <small
                    *ngIf="connaissementform.get('type')?.invalid && connaissementform.get('type')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="numero" >Numero T/T</label>
                <input  type="text" class="form-control" formControlName="numero" [(ngModel)]="connaissement.numero" id="numero" required>
                <div
                    *ngIf="connaissementform.get('numero')?.invalid && connaissementform.get('numero')?.touched">
                    <small
                    *ngIf="connaissementform.get('numero')?.invalid && connaissementform.get('numero')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="nature" >Nature</label>
                <input  type="text" class="form-control" formControlName="nature"  [(ngModel)]="connaissement.nature" id="nature" required>
                <div
                    *ngIf="connaissementform.get('nature')?.invalid && connaissementform.get('nature')?.touched">
                    <small
                    *ngIf="connaissementform.get('nature')?.invalid && connaissementform.get('nature')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="lieuchargement" >Lieu de chargement</label>
                <input  type="text" class="form-control" formControlName="lieuchargement" [(ngModel)]="connaissement.lieuchargement" id="lieuchargement" required>
                <div
                    *ngIf="connaissementform.get('lieuchargement')?.invalid && connaissementform.get('lieuchargement')?.touched">
                    <small
                    *ngIf="connaissementform.get('lieuchargement')?.invalid && connaissementform.get('lieuchargement')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="lieudechargement" >Lieu d'echargement</label>
                <input  type="text" class="form-control" formControlName="lieudechargement" [(ngModel)]="connaissement.lieudechargement" id="lieudechargement" required>
                <div
                    *ngIf="connaissementform.get('lieudechargement')?.invalid && connaissementform.get('lieudechargement')?.touched">
                    <small
                    *ngIf="connaissementform.get('lieudechargement')?.invalid && connaissementform.get('lieudechargement')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>
        </div>

        <h2 class="title">Quantité</h2>
        <div class="row">
            <div class="col-md-6">
                <label for="colis" >Colis</label>
                <input  type="number" class="form-control" formControlName="colis" [(ngModel)]="connaissement.colis" id="colis" required>
                <div
                    *ngIf="connaissementform.get('colis')?.invalid && connaissementform.get('colis')?.touched">
                    <small
                    *ngIf="connaissementform.get('colis')?.invalid && connaissementform.get('colis')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="nembre" >Nombre de conteneurs</label>
                <input  type="number" class="form-control" formControlName="nembre" [(ngModel)]="connaissement.nembre" id="nembre" required>
                <div
                    *ngIf="connaissementform.get('nembre')?.invalid && connaissementform.get('nembre')?.touched">
                    <small
                    *ngIf="connaissementform.get('nembre')?.invalid && connaissementform.get('nembre')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="poidbrut" >Poids Brut(Kg) </label>
                <input  type="text" class="form-control" formControlName="poidbrut" [(ngModel)]="connaissement.poidbrut" id="poidbrut" required>
                <div
                    *ngIf="connaissementform.get('poidbrut')?.invalid && connaissementform.get('poidbrut')?.touched">
                    <small
                    *ngIf="connaissementform.get('poidbrut')?.invalid && connaissementform.get('poidbrut')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="volume" >Volume </label>
                <input  type="text" class="form-control" formControlName="volume" [(ngModel)]="connaissement.volume" id="volume" required>
                <div
                    *ngIf="connaissementform.get('volume')?.invalid && connaissementform.get('volume')?.touched">
                    <small
                    *ngIf="connaissementform.get('volume')?.invalid && connaissementform.get('volume')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div> 
        </div>
        <div class="modal-footer">
          <button type="submit"  class="btn btn-primary" >Enregistrer</button>
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
      </form>
    </div>
    
  
  </ng-template>
