<div style="margin: 2%;" class="card">
    <div class="card-header">
        <button  class="btn btn-outline-primary mb-2 me-2" (click)="openLg(content)" >Nouveau Connaisement</button>
    </div>
    <div class="card-body">

      <div class="e-table">
        <div class="table-responsive table-lg mt-3">
          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th class="max-width">Nature</th>
                <th class="sortable">Lieu Chargement</th>
                <th>Lieu Dechargement</th>
                <th>Poid Brut </th>
                <th>Volume</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let connaissement of connaissements">
                <td class="text-nowrap align-middle">{{connaissement.id}}</td>
                <td class="text-nowrap align-middle">{{connaissement.nature}}</td>
                <td class="text-nowrap align-middle">{{connaissement.lieuchargement}}</td>
                <td class="text-nowrap align-middle">{{connaissement.lieudechargement}}</td>
                <td class="text-nowrap align-middle">{{connaissement.poidbrut}}</td>
                <td class="text-nowrap align-middle">{{connaissement.volume}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
          
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
        <h2>Connaisement</h2>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form #Connaissementform="ngForm" class="reg-form" [formGroup]="connaissementform" (submit)="addConnaissement()">
        <h2 class="title">Manifest</h2>
        <div class="row">
            <div class="col-md-6">
                <label for="type" >Type T/T</label>
                <input  type="text" class="form-control" formControlName="type" id="type">
                <div
                    *ngIf="connaissementform.get('type')?.invalid && connaissementform.get('type')?.touched">
                    <small
                    *ngIf="connaissementform.get('type')?.invalid && connaissementform.get('type')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="numero" >Numero T/T</label>
                <input  type="text" class="form-control" formControlName="numero"  id="numero">
                <div
                    *ngIf="connaissementform.get('numero')?.invalid && connaissementform.get('numero')?.touched">
                    <small
                    *ngIf="connaissementform.get('numero')?.invalid && connaissementform.get('numero')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="nature" >Nature</label>
                <input  type="text" class="form-control" formControlName="nature"  id="nature">
                <div
                    *ngIf="connaissementform.get('nature')?.invalid && connaissementform.get('nature')?.touched">
                    <small
                    *ngIf="connaissementform.get('nature')?.invalid && connaissementform.get('nature')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="lieu" >Lieu de chargement</label>
                <input  type="text" class="form-control" formControlName="lieu"  id="lieu">
                <div
                    *ngIf="connaissementform.get('lieu')?.invalid && connaissementform.get('lieu')?.touched">
                    <small
                    *ngIf="connaissementform.get('lieu')?.invalid && connaissementform.get('lieu')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="lieud" >Lieu d'echargement</label>
                <input  type="text" class="form-control" formControlName="lieud"  id="lieud">
                <div
                    *ngIf="connaissementform.get('lieud')?.invalid && connaissementform.get('lieud')?.touched">
                    <small
                    *ngIf="connaissementform.get('lieud')?.invalid && connaissementform.get('lieud')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>
        </div>

        <h2 class="title">Quantité</h2>
        <div class="row">
            <div class="col-md-6">
                <label for="colis" >Colis</label>
                <input  type="number" class="form-control" formControlName="colis" id="colis">
                <div
                    *ngIf="connaissementform.get('colis')?.invalid && connaissementform.get('colis')?.touched">
                    <small
                    *ngIf="connaissementform.get('colis')?.invalid && connaissementform.get('colis')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="nembre" >Nombre de conteneurs</label>
                <input  type="number" class="form-control" formControlName="nembre" id="nembre">
                <div
                    *ngIf="connaissementform.get('nembre')?.invalid && connaissementform.get('nembre')?.touched">
                    <small
                    *ngIf="connaissementform.get('nembre')?.invalid && connaissementform.get('nembre')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="poid" >Poids Brut(Kg) </label>
                <input  type="text" class="form-control" formControlName="poid" id="poid">
                <div
                    *ngIf="connaissementform.get('poid')?.invalid && connaissementform.get('poid')?.touched">
                    <small
                    *ngIf="connaissementform.get('poid')?.invalid && connaissementform.get('poid')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="volume" >Volume </label>
                <input  type="text" class="form-control" formControlName="volume" id="volume">
                <div
                    *ngIf="connaissementform.get('volume')?.invalid && connaissementform.get('volume')?.touched">
                    <small
                    *ngIf="connaissementform.get('volume')?.invalid && connaissementform.get('volume')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>
            
        </div>
        <button type="button"  class="btn btn-primary" (click)="simpleAlert()">Enregistrer</button>
      </form>
        
    </div>
    <div class="modal-footer">
        
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
