<header style="background-color: rgb(0, 162, 255);"><h2 style="padding: 1%;">Administration</h2></header>
<body>
  <div style="margin: 2%;" class="card">
    <div class="card-header">
      <nav class="nav">
        <a class="nav-link btn btn-primary btn-sm active" style="margin: 10px;" role="button" aria-pressed="true" href="accueil-consignateur">Accueil</a>
        <a class="nav-link " routerLink="form-manifest" routerLinkActive="active">
          <button  class="btn btn-primary btn-sm" (click)="openXl(content)" style="padding: 10px;">Nouveau manifest </button>
        </a>
        <button type="button" style="margin:10px;" (click)="myFunction()" class="btn btn-primary">Charger manifest</button>
      </nav>

      
      
      
    </div>
    <div class="card-body">
      <div class="e-table">
        <div class="table-responsive table-lg mt-3">
          <table>
            <thead>
              <tr>
                <th>N.Dossier</th>
                <th class="max-width">N.Voyage</th>
                <th class="sortable">Charger le</th>
                <th>Depart</th>
                <th>Arrivée</th>
                <th>Date départ</th>
                <th>Date d'arrivée</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let manifest of manifests">
                <td class="text-nowrap align-middle">{{manifest.id}}</td>
                <td class="text-nowrap align-middle">{{manifest.numvoyage}}</td>
                <td class="text-nowrap align-middle">{{manifest.decharger}}</td>
                <td class="text-nowrap align-middle">{{manifest.lieudepart}}</td>
                <td class="text-nowrap align-middle">{{manifest.destination}}</td>
                <td class="text-nowrap align-middle">{{manifest.datedepart}}</td>
                <td class="text-nowrap align-middle">{{manifest.datearrive}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
          
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <a class="nav-link " routerLink="form-manifest" routerLinkActive="active">
        <button  class="btn btn-outline-primary mb-2 me-2"  >Segment géneral </button>
      </a>
      <a class="nav-link " routerLink="connaissement" routerLinkActive="active">
        <button  class="btn btn-outline-primary mb-2 me-2"  >Connaissement </button>
      </a>
      <a class="nav-link " routerLink="intervenant" routerLinkActive="active">
        <button  class="btn btn-outline-primary mb-2 me-2"  >Intervenant </button>
      </a>
      <a class="nav-link " routerLink="marchandises" routerLinkActive="active">
        <button  class="btn btn-outline-primary mb-2 me-2"  >Marchandises</button>
      </a>
      <a class="nav-link " routerLink="conteneur" routerLinkActive="active">
        <button  class="btn btn-outline-primary mb-2 me-2"  >Conteneur</button>
      </a>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <router-outlet></router-outlet>
    </div>
    
  </ng-template>

  
   
</body>