<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="row flex-lg-nowrap">
      <div class="col mb-3">
        <div class="e-panel card">
          <div class="card-body">
            <div class="card-title">
              <h1 class="mr-2"><span>Users</span></h1>
            </div>
            <div class="e-table">
              <div class="table-responsive table-lg mt-3">
                <table>
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th class="max-width">Name</th>
                      <th class="sortable">Role</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users">
                      <td class="text-nowrap align-middle">{{user.id}}</td>

                      <td class="text-nowrap align-middle"><span>{{user.lastname}}</span></td>

                      <td class="text-nowrap align-middle">
                        <ul>
                          <li *ngFor="let authority of user.authorities">
                            {{authority.authority}}
                          </li>
                        </ul>
                      </td>

                      <td class="text-nowrap align-middle {{ user.desactive ? 'active' : 'not-active' }}"> {{ user.desactive ? 'Activated' : 'Not Activated' }} </td>

                      <td>
                        <div class="btn-group align-top">
                          <button type="button" class="btn btn-outline-primary" (click)="openLg(content, user)"
                            data-toggle="modal" data-target="#user-form-modal" style="border-radius: 0.9375em;">Edit</button>
                            <button type="button" class="btn btn-outline-success" (click)="activateUser(user.id)" style="margin-left: 3px; border-radius: 0.9375em;">activer</button>
                            <button type="button" class="btn btn-outline-danger" (click)="deactivateUser(user.id)" style="margin-left: 3px;border-radius: 0.9375em;">desactiver</button>
                          </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <h1 mat-dialog-title>Update User</h1>
    <div class="form-group">
      <label>
        <h4>Role</h4>
      </label>
      <div>
        <select class="form-select" aria-label="Default select example" id="role" [(ngModel)]="newRole">
          <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
        </select>
      </div>


      <div class="row">
        <div class="modal-footer">
          <button class="btn btn-success" type="submit" (click)="updateRole(user)">valider</button>
          <button type="button" class="btn btn-dark" (click)="modal.close('Close click')">Close</button>
        </div>
      </div>
    </div>
  </div>

</ng-template>