
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}


.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.btn-outline-secondary {
  background-color: transparent;
  color: #4e7ca3;
  border: 1px solid #6c757d;
}

.btn-outline-secondary:hover {
  background-color: #3d87c7;
  color: #bbb8b8;
}

.badge {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.25rem 0.4rem;
  border-radius: 0.25rem;
  cursor: pointer;
}




.modal-body {
  padding: 1rem;
}

.modal-footer {
  justify-content: space-between;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.5rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}


h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
}


.card {
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-bottom: 1.5rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.e-panel {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 0.25rem;
  padding: 20px;
}


.mat-paginator {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}


ul {
  margin: 0;
 
}

.active {
  color: green;
}

.not-active {
  color: red;
}

.cssbuttons {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1A1A1A;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 750;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
 }
.cssbuttons:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.cssbuttons:active {
  box-shadow: none;
  transform: translateY(0);
}
.cssbuttons:disabled {
  pointer-events: none;
 }
 
 button.noselect {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

button.noselect,
button.noselect span {
  transition: 200ms;
}

button.noselect .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

button.noselect .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.noselect svg {
  width: 15px;
  fill: #eee;
}

button.noselect:hover {
  background: #ff3636;
}

button.noselect:hover .text {
  color: transparent;
}

button.noselect:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

button.noselect:focus {
  outline: none;
}

button.noselect:active .icon svg {
  transform: scale(0.8);
}
