<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="row flex-lg-nowrap">
      <div class="col mb-3">
        <div class="e-panel card">
          <div class="card-body">
            <button style="margin-left: 90%;" (click)="onCreate()">
             <span>create</span>
            </button>
            <div class="card-title">
              <h1 class="mr-2"><span>Users</span></h1>
            </div>
            <div class="e-table">
              <div class="table-responsive table-lg mt-3">
                <table>
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th class="max-width">Name</th>
                      <th class="sortable">Role</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users">
                      <td class="text-nowrap align-middle"><span>{{user.id}}</span></td>

                      <td class="text-nowrap align-middle"><span>{{user.lastname}}</span></td>

                      <td class="text-nowrap align-middle">
                        <ul>
                          <li *ngFor="let authority of user.authorities">
                            {{authority.authority}}
                          </li>
                        </ul>
                      </td>

                      <td class="text-nowrap align-middle" [ngClass]="{ 'status-enabled': user.isEnabled, 'status-disabled': !user.isEnabled }">
                        {{ user.isEnabled ? 'Enabled' : 'Disabled' }}
                      </td>
                      <td>
                        <button (click)="DeleteUser(user.id)" class="btn btn-danger">Delete</button>
                      </td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
