<nav class="navbar navbar-light bg-orange" style="height: 13vh; margin-top: 1px;">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 text-white" ><h1 style="font-size: 3rem;">Administration Douane</h1></span>
  </div>
</nav>


<div class="container">
  <div class="row flex-lg-nowrap" style="margin-top: 30px;">
    <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
      <div class="card p-3">
        <div class="e-navlist e-navlist--active-bg">
          <ul class="nav">
            <li class="active"><button class="button"  (click)="douane()">Accueil</button></li>
            <li class="active"><button class="button"  (click)="consultation()">Consulter</button></li>
            <li class="active"><button class="button"  *ngIf="isLoggedIn()" (click)="logout()">Deconnexion</button></li>

          </ul>
        </div>
      </div>
    </div>
      <div class="card-body">
            <router-outlet></router-outlet>
      </div>
  </div>    
</div>