<body>
    <div class="sqeuletee">
        <div class="head">
            <h2>connectez vous</h2>
        </div>
    
        <div class="input">
            <label for="identifiant"> identifiant</label>
            <input type="text" id="identifiant" >
            <label for="mot-de-passe"> Mot de passe</label>
            <input type="text" id="mot-de-passe" >
            
        </div>
        <button type="button" style="width: 4cm; margin-top: 20px;padding: 8px;" class="btn btn-primary">Connecter</button>
        <a href="register" style="padding-left: 90%;">s'inscrire</a>
    </div>
    
</body>
