<div style="margin: 2%;" class="card">
    <div class="card-header">
        <button  class="btn btn-outline-primary mb-2 me-2" (click)="openLg(content)" >Nouveau Marchandises</button>
    </div>
    <div class="card-body">
      <div class="example-container mat-elevation-z8">
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th class="max-width">Marque</th>
              <th class="sortable">Mass</th>
              <th>Volume</th>
              <th>Designation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let merch of merchs">
              <td class="text-nowrap align-middle">{{merch.marque}}</td>
              <td class="text-nowrap align-middle"><span>{{merch.mass}}</span></td>
              <td class="text-nowrap align-middle">{{merch.volume}}</td>
              <td class="text-nowrap align-middle">{{merch.designation}}</td>
            </tr>
          </tbody>
        </table>
          
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
        <h2>Marchandise</h2>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form #Merchform="ngForm" class="reg-form" [formGroup]="merchform" (submit)="addMerch()">
        <div class="row">
          <div class="col-md-6">
              <label for="marque" >Marque</label>
              <input  type="text" class="form-control" formControlName="marque" [(ngModel)]="merch.marque" id="marque">
              <div
                  *ngIf="merchform.get('marque')?.invalid && merchform.get('marque')?.touched">
                  <small
                  *ngIf="merchform.get('marque')?.invalid && merchform.get('marque')?.touched"
                  class="text-danger"  > *Leave type is required</small>
              </div>
          </div>

          <div class="col-md-6">
              <label for="mass" >Poid</label>
              <input  type="text" class="form-control" formControlName="mass" [(ngModel)]="merch.mass" id="mass">
              <div
                  *ngIf="merchform.get('mass')?.invalid && merchform.get('mass')?.touched">
                  <small
                  *ngIf="merchform.get('mass')?.invalid && merchform.get('mass')?.touched"
                  class="text-danger"  > *Leave type is required</small>
              </div>
          </div>

          <div class="col-md-6">
              <label for="volume" >Volume</label>
              <input  type="text" class="form-control" formControlName="volume" [(ngModel)]="merch.volume" id="volume">
              <div
                  *ngIf="merchform.get('volume')?.invalid && merchform.get('volume')?.touched">
                  <small
                  *ngIf="merchform.get('volume')?.invalid && merchform.get('volume')?.touched"
                  class="text-danger"  > *Leave type is required</small>
              </div>
          </div>

          <div class="col-md-6">
              <label for="designation" >Designation</label>
              <input  type="text" class="form-control" formControlName="designation" [(ngModel)]="merch.designation" id="designation">
              <div
                  *ngIf="merchform.get('designation')?.invalid && merchform.get('designation')?.touched">
                  <small
                  *ngIf="merchform.get('designation')?.invalid && merchform.get('designation')?.touched"
                  class="text-danger"  > *Leave type is required</small>
              </div>
          </div> 
      </div>

      <button type="submit"  class="btn btn-primary" (click)="simpleAlert()">Enregistrer</button>
      </form>
        

    </div>
    <div class="modal-footer">
        
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>