<div class="row">
    <div class="col-sm-10">
      <div class="card">
        <h5 class="card-header">Consignateur Test</h5>
        <div class="card-body">
          <div class="card1">
            <div class="card-header">
              <select style="width: 30%;" name="" id="">
                <option  value="">Sélectionner une procedure</option>
              </select>
              <select style="margin-left: 10%;width: 30%" name="" id="">
                <option  value="">Sélectionner une procedure</option>
              </select>
              <button style="margin-left:  10%;" type="button" class="btn btn-info">
                Accéder au formulaire</button
              ><br />
              <h5 style="text-align: center; margin-top: 8px;">Liste de procedure</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
  
                  <div class="card">
                    <div class="card-header">Procedure manifest</div>
                    <div class="card-body">
                      <div class="row">

                        <div class="col-md-6">
                          <h4>Manifeste charges</h4>
                        </div>
  
                        <div class="col-md-3">
                          <h4 style="color: rgb(238, 6, 6);" >MAN03</h4>
                        </div>
  
                        <div class="col-md-3">
                          <h4 style="color: rgb(10, 6, 238);"> hh</h4>
                        </div>

                        <div class="col-md-6">
                          <h4>Manifeste Validéées</h4>
                        </div>
  
                        <div class="col-md-3">
                          <h4 style="color: rgb(238, 6, 6);" >MAN10</h4>
                        </div>
  
                        <div class="col-md-3">
                          <h4 style="color: rgb(10, 6, 238);"> hh</h4>
                        </div>
  
                      </div>

                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <h5 style="text-align: center;">Liste de procedure</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="cards">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem">
      <div class="card-header">bienvenu</div>
      <div class="card-body">
        <a href="">Déconnexion</a><br />
        <a href="">Modefier mot de passe</a><br />
        <a href="administration-consignateur">Administration</a>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem">
      <div class="card-header">Rechercher</div>
      <div class="card-body">
        <label for="numero-dossier">Numéro Dossier</label>
        <input type="text" />
        <label for="date-envoi">Date Envoie</label>
        <input type="text" />
        <label for="etat-dossier">Etat de Dossier</label>
        <select name="etat-dossier" id="etat-dossier">
          <option value="etat">tous</option></select
        ><br />
        <button type="button" class="btn btn-primary">Rechercher</button>
      </div>
    </div>
      </div>
    </div>
  </div>
  
  
  
