<div style="margin: 2%;" class="card">
    <div class="card-header">
        <button  class="btn btn-outline-primary mb-2 me-2" (click)="openLg(content)" >Nouveau Conteneur</button>
    </div>
    <div class="card-body">
      
      <div class="e-table">
        <div class="table-responsive table-lg mt-3">
          <table>
            <thead>
              <tr>
                <th>Identification</th>
                <th class="max-width">Type</th>
                <th class="sortable">remp</th>
                <th>Scelles</th>
                <th>marque</th>
                <th>Resp</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let conteneur of conteneurs" >
                <td class="text-nowrap align-middle">{{conteneur.id}}</td>
                <td class="text-nowrap align-middle">{{conteneur.type}}</td>
                <td class="text-nowrap align-middle">{{conteneur.remp}}</td>
                <td class="text-nowrap align-middle">{{conteneur.scalle}}</td>
                <td class="text-nowrap align-middle">{{conteneur.marque}}</td>
                <td class="text-nowrap align-middle">{{conteneur.resp}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
          
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
        <h2>Marchandise</h2>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form #Conteneurform="ngForm" class="reg-form" [formGroup]="conteneurform" (submit)="addConteneur()">
        <div class="row">
            <div class="col-md-6">
                <label for="id" >Identification</label>
                <input  type="text" class="form-control" formControlName="id" [(ngModel)]="conteneur.id" id="id">
                <div
                  *ngIf="conteneurform.get('id')?.invalid && conteneurform.get('id')?.touched">
                  <small
                  *ngIf="conteneurform.get('id')?.invalid && conteneurform.get('id')?.touched"
                  class="text-danger"  > *Leave type is required</small>
              </div>
            </div>

            <div class="col-md-6">
                <label for="type" >Type</label>
                <input  type="text" class="form-control" formControlName="type" [(ngModel)]="conteneur.type" id="type">
                <div
                    *ngIf="conteneurform.get('type')?.invalid && conteneurform.get('type')?.touched">
                    <small
                    *ngIf="conteneurform.get('type')?.invalid && conteneurform.get('type')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="remp" >Remp</label>
                <input  type="text" class="form-control" formControlName="remp" [(ngModel)]="conteneur.remp" id="remp">
                <div
                    *ngIf="conteneurform.get('remp')?.invalid && conteneurform.get('remp')?.touched">
                    <small
                    *ngIf="conteneurform.get('remp')?.invalid && conteneurform.get('remp')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="scalle" >Scelles</label>
                <input  type="text" class="form-control" formControlName="scalle" [(ngModel)]="conteneur.scalle" id="scalle">
                <div
                    *ngIf="conteneurform.get('scalle')?.invalid && conteneurform.get('scalle')?.touched">
                    <small
                    *ngIf="conteneurform.get('scalle')?.invalid && conteneurform.get('scalle')?.touched"
                    class="text-danger"  > *Leave type is required</small>
                </div>
            </div>

            <div class="col-md-6">
              <label for="marque" >Marque</label>
              <input  type="text" class="form-control" formControlName="marque" [(ngModel)]="conteneur.marque" id="marque">
              <div
                  *ngIf="conteneurform.get('marque')?.invalid && conteneurform.get('marque')?.touched">
                  <small
                  *ngIf="conteneurform.get('marque')?.invalid && conteneurform.get('marque')?.touched"
                  class="text-danger"  > *Leave type is required</small>
              </div>
            </div>

            <div class="col-md-6">
              <label for="resp" >Resp</label>
              <input  type="text" class="form-control" formControlName="resp" [(ngModel)]="conteneur.resp" id="resp">
              <div
                  *ngIf="conteneurform.get('resp')?.invalid && conteneurform.get('resp')?.touched">
                  <small
                  *ngIf="conteneurform.get('resp')?.invalid && conteneurform.get('resp')?.touched"
                  class="text-danger"  > *Leave type is required</small>
              </div>
            </div>
        </div>
      
      </form>
        

    </div>
    <div class="modal-footer">
      <button type="submit"  class="btn btn-primary" >Enregistrer</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
