<div class="row">
  <div class="col-sm-10">
    <div class="card">
      <h5 class="card-header" style="background-color: #ff7b00;color: #fff;">Douane</h5>
      <div class="card-body">
        <div class="card1">
          <div class="card-header" style="background-color: blue;">
            <h5 style="text-align: center; margin-top: 8px;color: #fff;">Liste de procedure</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">

                <div class="card">
                  <div class="card-header" style="background-color: blue;"><h5 style="color: #fff;">Procedure manifest</h5></div>
                  <div class="card-body">
                    <div class="row">

                      <div class="col-md-6">
                        <h4>Demande de modefication</h4>
                      </div>

                      <div class="col-md-3">
                        <h4 style="color: rgb(238, 6, 6);" >MAN03</h4>
                      </div>

                      <div class="col-md-3">
                        <h4 style="color: rgb(10, 6, 238);"> hh</h4>
                      </div>

                      <div class="col-md-6">
                        <h4>Consultation</h4>
                      </div>

                      <div class="col-md-3">
                        <h4 style="color: rgb(238, 6, 6);" >MAN10</h4>
                      </div>

                      <div class="col-md-3">
                        <h4 style="color: rgb(10, 6, 238);"> hh</h4>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer"style="background-color: blue;">
        <h5 style="text-align: center;color: #fff;">Liste de procedure</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="cards">
  <div class="card text-white bg-orange mb-3" style="max-width: 18rem">
    <div class="card-header" style="background-color: blue;">bienvenu</div>
    <div class="card-body">
      <a href="" class="btn btn-secondary btn-lg active" style="margin: 5px;" role="button" aria-pressed="true" *ngIf="isLoggedIn()" (click)="logout()">Déconnexion</a><br />
      <a href="administration-douane\consultation" class="btn btn-secondary btn-lg active" style="margin: 5px;" role="button" aria-pressed="true">Administration</a>
    </div>
  </div>
    </div>
  </div>
</div>



