<div class="row">
  <div class="col-sm-10">
    <div class="card">
      <h5 class="card-header">Importateur Guce</h5>
      <div class="card-body">
        <div class="card1">
          <div class="card-header">
            <select style="width: 30%;" name="" id="">
              <option  value="">Sélectionner une procedure</option>
            </select>
            <select style="margin-left: 10%;width: 30%" name="" id="">
              <option  value="">Sélectionner une procedure</option>
            </select>
            <button style="margin-left:  10%;" type="button" class="btn btn-info">
              Accéder au formulaire</button
            ><br />
            <h5 style="text-align: center; margin-top: 8px;">Liste de procedure</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">

                <div class="card">
                  <div class="card-header">Inscreption au fichier des Importateurs Exportateur</div>
                  <div class="card-body">
                    <div class="row">

                      <div class="col-md-6">
                        <h4>Inscreption Intitée/Validéées</h4>
                      </div>

                      <div class="col-md-3">
                        <h4 style="color: rgb(238, 6, 6);">T55C</h4>
                      </div>

                      <div class="col-md-3">
                        <h4 style="color: rgb(10, 6, 238);" > hh</h4>
                      </div>

                      <div class="col-md-6">
                        <h4>Demande autorisation spéciale</h4>
                      </div>

                      <div class="col-md-3">
                        <h4 style="color: rgb(238, 6, 6);" >T52</h4>
                      </div>

                      <div class="col-md-3">
                        <h4 style="color: rgb(10, 6, 238);"> hh</h4>
                      </div>

                      <div class="col-md-6">
                        <h4>Demande d'inscreption fichier Importateur/Exportateur</h4>
                      </div>

                      <div class="col-md-3">
                        <h4 style="color: rgb(238, 6, 6);">T51</h4>
                      </div>

                      <div class="col-md-3">
                        <h4 style="color: rgb(10, 6, 238);"> hh</h4>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">Procedur d'importation des véhicules d'occasions</div>
                  <div class="card-body">
                    <div class="row">

                      <div class="col-md-6">
                        <h4>Initialisation fiche PIVO</h4>
                      </div>

                      <div class="col-md-3">
                        <h4 style="color: rgb(238, 6, 6);" >PIVO_P001</h4>
                      </div>

                      <div class="col-md-3">
                        <h4 style="color: rgb(10, 6, 238);"> hh</h4>
                      </div>

                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <h5 style="text-align: center;">Liste de procedure</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="cards">
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem">
    <div class="card-header">bienvenu</div>
    <div class="card-body">
      <a href="">Déconnexion</a><br />
      <a href="">Modefier mot de passe</a><br />
      <a href="administration/gestion-utilisateur">Administration</a>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem">
    <div class="card-header">Rechercher</div>
    <div class="card-body">
      <label for="numero-dossier">Numéro Dossier</label>
      <input type="text" />
      <label for="date-envoi">Date Envoie</label>
      <input type="text" />
      <label for="etat-dossier">Etat de Dossier</label>
      <select name="etat-dossier" id="etat-dossier">
        <option value="etat">tous</option></select
      ><br />
      <button type="button" class="btn btn-primary">Rechercher</button>
    </div>
  </div>
    </div>
  </div>
</div>


